.layout {
    display: flex;
  }
  
  .main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
  }
  
  .page-content {
    padding: 20px;
    background-color: #EAEAEA;
    min-height: 100vh;
  }
  